html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  /* width: 50%; */
}

.header-wrapper,
.footer-wrapper {
  background-color: #1f2937;
}

.header-wrapper {
  flex-basis: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

.upper-header {
  display: flex;
  padding-top: 12px;
  margin-bottom: 150px;
  /* margin: 0 auto; */
  /* width: 85%; */
}

.lower-header {
  display: flex;
}

.left-lower-header {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
}

.right-lower-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 450px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  /* width: 50%; */
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
  font-weight: 900;
  /* padding-top: 10px; */
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
}

a {
  text-decoration: none;
}

a,
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  font-family: inherit;
  /* padding: 0; */
  border: none;
  border-radius: 4px;
  /* background: none; */
}

.sign-up {
  background-color: #3882f6;
  color: #e5e7eb;
  align-self: flex-start;
}

.image-placeholder {
  color: #e5e7eb;
}

.information-wrapper {
  flex-basis: 30%;
}

.info-header-text {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.info-box-wrapper {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.info-box {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 8px;
}

.info-text {
  width: 150px;
  text-align: center;
}

.quote-wrapper {
  background-color: #e5e7eb;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-credit {
  font-weight: 700;
  align-self: flex-end;
}

.call-to-action-wrapper {
  flex-basis: 16%;
  display: flex;
  /* padding: 20px; */
  justify-content: center;
}

.cta-container {
  align-self: center;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 8px;
  width: 600px;
  /* justify-content: center; */
}

.cta-container,
.cta-sign-up {
  background-color: #3882f6;
  color: #e5e7eb;
}

.left-cta {
  margin-right: auto;
}

.cta-title {
  font-weight: 700;
}

.footer-wrapper {
  flex-basis: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #e5e7eb;
}

/* .header-wrapper,
.information-wrapper,
.quote-wrapper,
.call-to-action-wrapper,
.footer-wrapper {
  flex-basis: 20%;
} */
